body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* components/Home.css */
.home-container {
  max-width: 1075px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  margin-top: -20px;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.item-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.item-card {
  border: 1px solid #ccc;
  padding: 20px;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s;
}

.item-card:hover {
  transform: translateY(-5px);
}

.img {
  width: 100%;
}

.item-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.item-description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.read-more {
  font-size: 0.8rem;
  color: #007bff;
  cursor: pointer;
}

/* components/Detail.css */
.detail-container {
  max-width: 1075px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.item-detail {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.imag{
  width: 60%;
}

.item-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.item-body {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.user-id {
  font-size: 1rem;
  color: #555;
}

.toggle-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.detail-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.detail-button.active {
  background-color: #0056b3;
}

